/*Schrijf hier jouw css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
/*#030027*/
/*#F2F3D9*/
/*#C16E70*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F3D9;
    color: #030027;
    text-align: center;
}
.nav-bar {
    background-color: #030027;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 60px;
}

.company-name {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-basis: 400px;
}

.opening-title {
    padding: 40px;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 40px;
}

.inner-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.lorem-article {
    background-color: #C16E70;
    margin: 20px;
    padding: 20px;
    height: 350px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
}